.featured {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.featured-item {
    flex: 1;
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    
}

.featured-img {
    
    width: 100%;
    object-fit: cover;
    
}
.featured-img:hover {
    
    transform: scale(1.10);
    transition: ease-in 600ms;
    
}

.featured-titles {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 5px 15px;
   
}
