.header{
    background-color: rgba(4, 68, 110, 0.932);
    color: aliceblue;
    display: flex;
    justify-content: center;
    position: relative;
}
.header-container{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}
.header-list{
    display: flex;
    gap: 40px;
}
.header-list-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-list-item.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}
.header-desc{
    margin: 20px 0
}
.header-btn{
    padding: 10px;
    background-color: rgb(19, 104, 214);
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.header-search {
    height: 30px;
    background-color: white;
    border: 3px solid rgb(202, 202, 3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.header-icon {
    color: lightgray;
}

.header-search-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-search-input {
    border: none;
    outline: none;
}

.header-search-text {
    color: lightgray;
}

.date {
    position: absolute;
    top: 50px;
}

.options {
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 10px -5px rgba(0,0,0,0.4);
}

.option-item {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.option-counter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.option-counter-button {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}

.option-counter-button:disabled {
    cursor: not-allowed;
}