.navbar{
    height: 50px;
    background-color: rgba(4, 68, 110, 0.932);
    display: flex;
    justify-content: center;
}
.nav-container{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: 500;
}
.nav-button{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: rgb(16, 16, 70);
}
